{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <section class="container">
        <div class="mb-4">
            <h1>Login</h1>
        </div>
        <form action="/login" class="m-auto" id="login" method="post">
            <div class="mb-3">
                <input {{ username_attribute }} autocomplete="off" class="form-control mx-auto w-auto" name="username" 
                    placeholder="Usuário" type="text" value="{{ username }}">
            </div>
            <div class="mb-3">
                <input {{ password_attribute }} class="form-control mx-auto w-auto" name="password" placeholder="Senha" type="password">
            </div>
            <div class="mb-3">
                <a class="link" href="/nova-senha">Esqueci minha senha</a>
            </div>
            <button class="btn btn-outline-dark" type="submit">Entrar</button> 
        </form>
    </section>

{% endblock %}

{% block footer %}
    <h6>Ainda não tem uma conta? <a href="/cadastro">Cadastre-se</a>.</h6>
{% endblock %}
