{% extends "layout.html" %}

{% block title %}
    Mudança de senha
{% endblock %}

{% block main %}
    <section class="container">
        <div class="mb-4">
            <h1>Mudança de senha</h1>
        </div>
        <form action="/nova-senha" class="m-auto" id="new-password" method="post">
            {% if not session["user_id"] %}
                <div class="mb-3">
                    <input {{ username_attribute }} autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" 
                        placeholder="Usuário" type="text" value="{{ username }}">
                </div>
            {% endif %}
            <div class="mb-3">
                <input {{ password_attribute }} class="form-control mx-auto w-auto" name="new-password" placeholder="Nova senha" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm-password" placeholder="Confirme sua senha" type="password">
            </div>
            <button class="btn btn-outline-dark" type="submit">Mudar senha</button> 
        </form>
    </section>
{% endblock %}

{% block footer %}
    {% if not session["user_id"] %}
        <h6>Lembrou sua senha? Faça o <a href="/login">login</a>.</h6>
    {% endif %}
{% endblock %}
