{% extends "layout.html" %}

{% block title %}
    Sobre
{% endblock %}

{% block main %}
<section class="container" id="sobre">
    <div class="mb-5">
        <h1>ENEM (Exame Nacional do Ensino Médio)</h1>
    </div>

    <div class="text-left">
        <h2>O que é o ENEM?</h2>
        <p class="pl-0">O Exame Nacional do Ensino Médio é a principal forma de entrar nas universidades 
            públicas brasileiras. Atualmente, ele é composto por 2 dias de prova, sendo realizadas em dois 
            domingos consecutivos. No primeiro dia, as provas são de Linguagens e suas Tecnologias, Ciências 
            Humanas e suas Tecnologias e Redação. No segundo dia, são realizadas as provas de Matemática e suas 
            Tecnologias e Ciências da Natureza e suas Tecnologias. <br>
            <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enem/orientacoes/aplicacao-regular">Saiba mais</a>.
        </p>
        
        <h2>Onde posso ver minhas notas do ENEM?</h2>
        <p class="pl-0">Se você realizou uma ou mais provas do ENEM, seus resultados podem ser visualizados
            <a href="https://enem.inep.gov.br/participante/#!/">aqui</a>.
        </p>

        <h2>Onde posso ver os pesos de cada área nos cursos que quero?</h2>
        <p class="pl-0">Para isso, é só pesquisar o termo de adesão do curso na universidade que você quiser em um determinado ano. 
            Por exemplo, se quiser saber os pesos para Medicina na USP (Universidade de São Paulo) em 2023, é só pesquisar "Medicina USP termo de adesão 2023"
            na internet.
        </p>
        <p>
            No termo de adesão também há informações como a duração do curso, número de vagas, endereço do campus e nota mínima nas áreas 
            para concorrer a uma vaga.
        </p>

        <h2>Como posso usar minha nota do ENEM para entrar em uma universidade?</h2>
        <p>
            Para isso, vai depender da universidade. O ingresso na maior parte das faculdades públicas brasileiras 
            ocorre pelo <a href="https://acessounico.mec.gov.br/sisu">SISU</a> (Sistema de Seleção Unificada), por meio da 
            nota do ENEM. Porém, nem todas as universidades públicas participam do SISU. 
        </p>
        <p>
            Para entrar nelas pelo ENEM, é necessário realizar a inscrição no sistema da própria instituição. Por exemplo, 
            a USP não está mais no SISU a partir de 2023. Para ingressar pelo ENEM, é necessário realizar a inscrição no 
            <a href="https://www.fuvest.br/enem-usp">ENEM-USP</a>.
        </p>
        <p>
            Também é possível conseguir bolsas e financiamento em universidades particulares, por meio de programas como 
            o <a href="https://acessounico.mec.gov.br/prouni">PROUNI</a> (Programa Universidade para Todos) ou o 
            <a href="https://acessounico.mec.gov.br/fies">FIES</a> (Fundo de Financiamento Estudantil). 
            <br>
            <a href="https://acessounico.mec.gov.br/">Saiba mais</a>.
        </p>

        <h2>Onde posso ver as notas de corte das edições anteriores?</h2>
        <p class="pl-0">
            É possível ver as notas de corte dos anos anteriores accesando o <a href="https://fiibrasil.com/sisu-notas/">Portal FiiBrasil</a>. 
            Também é possível ver a lista dos aprovados e suas respectivas notas de corte no mesmo site. 
        </p>
        <p class="pl-0">
            Por exemplo, para ver as listas dos aprovados no SISU 2023/1 e suas notas, clique <a href="https://fiibrasil.com/noticia/lista-de-aprovados-sisu-2023-veja-resultado-da-chamada-regular-por-faculdade/">
            aqui</a> e escolha uma das universidades. 
        </p>

    </div>

</section>
{% endblock %}

{% block footer %}
    <h6 class="mb-5">
        Para mais informações, visite a página oficial do <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enem">
        ENEM</a>.
    </h6>
{% endblock %}
